.selectWrapper {
  position: relative;
  user-select: none;
  cursor: pointer;
}

.selectedValue {
  font-weight: 400;
  padding: 10px 40px 10px 12px;
  border: 1px solid #bbb;
  border-radius: 6px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  transition: border 0.2s;
}

.placeholder {
  color: var(--gray-color);
}

.arrow {
  position: relative;
  top: 0;
  right: -24px;
  border: solid var(--gray-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.2s;
}

.optionsList {
  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 4px;
}

.dropUp {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 4px;
}


.option {
  font-weight: 400;
  padding: 10px 12px;
  cursor: pointer;
  transition: background 0.15s;

  &:hover, &.active {
    background: var(--primary-light-color);
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
