.container {
  display: flex;
  min-height: 100vh;
  height: 100%;
  font-family: sans-serif;
  justify-content: space-around;
  flex-direction: row;
  align-items: stretch;
  gap: 1rem;
  padding: 0 1rem;
}

.formSection {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;
  align-items: center;
  max-width: 450px;
  border: solid 1px var(--outline);
  box-shadow: 0 0 1px #171a1f12, 0 0 2px #171a1f1F;
}

.logo {
  max-width: 80px;
  align-self: center;
}

.title {
  font-weight: bold;
  font-size: var(--font-size-xl);
  line-height: 32px;
  text-align: center;
}

.subtitle {
  color: var(--gray-color);
  margin: 0.5rem 0 1rem;
  text-align: center;
  font-size: var(--font-size-sm);
  line-height: 20px;
}

.language {
  align-self: end;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--gray-color);
  cursor: pointer;

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: var(--primary-color);
    cursor: pointer;
  }
}

.submitButton {
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.promoSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .promoSection {
    display: none;
  }
}

.promoCard {
  width: min(640px, 30svw);
}
