.header {
  position: sticky;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 1px #171a1f12, 0 0 2px #171a1f1F;
  padding: 0 1rem;
  box-sizing: border-box;
}


.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-size: var(--font-size-lg);

  img {
    height: 40px;
  }
}

.nav {
  > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;

    > li {
    }
  }
}