.footer {
  width: 100%;
}

.wrapper {
  max-width: var(--page-size);
  margin: 0 auto;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.central {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.title {
  font-size: var(--font-size-base);
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  > p {
    font-size: var(--font-size-lg);
    font-weight: 600;
  }

  > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 7px;

    > input {
      width: 300px;
      max-width: 90svw;
    }
  }
}

.bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  font-size: var(--font-size-sm);

  > nav {
    > ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;

      > li {
        font-size: var(--font-size-sm);
        font-weight: 500;
        color: var(--gray-color);
        cursor: pointer;

        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }
}

//@media (max-width: 800px) {
//  .bottom {
//    flex-direction: column;
//    gap: 1rem;
//  }
//}

.links {
  > a {
    > img {
      width: 20px;
      height: 20px;
    }
  }
}