.tabWrapper {
  width: 100%;
}

.tabHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid var(--gray-color);
}

.tabItem {
  text-align: center;
  padding: 0.75rem 1rem;
  cursor: pointer;
  position: relative;
  transition: color 0.2s ease-in-out, border-bottom-color 2s ease-in-out;
  font-weight: 500;
  color: var(--gray-color);
  border-bottom: solid 2px inherit;
}

.active {
  color: var(--primary-color);
  border-bottom: solid 2px var(--primary-color);
  font-weight: 600;
}

.tabContent {
  padding-top: 1rem;
}
