:root {
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-xl: 24px;
  --primary-color: #0071E5FF;
  --gray-color: #8C8D8BFF;
  --button-color: #FFFFFF;
}

body {
  margin: 0;
}