:root {
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-xl: 24px;
  --primary-color: #0071E5FF;
  --outline: #EBEBEA;
  --gray-color: #8C8D8BFF;
  --button-color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

ul, h1, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;


  &:visited {
    color: inherit
  }
}